* {
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score {
    display: flex;
    justify-content: center;
}
.player_score {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
}
.computer_score {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}
.result {
    text-align: center;
}