* {
    box-sizing: border-box;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color:lightpink;
}

.choise_button {
    padding-top: 2em;
    padding-bottom: 2em;
}

.choise {
    width: 100px;
    height: 50px;
    margin: 0 10px;
    background-color: aqua;
    
}

.score {
    display: flex;
    justify-content: center;
}

.player_score {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
}

.computer_score {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}

.result {
    text-align: center;
}
.reset button{
    padding: 12px;
    background-color: aqua;
    margin-bottom: 15px;
}